@import 'material-icons';
@import './reset';
@import './animations';
$darklight: rgba(14, 52, 29, 0.6);
$highlight: #68e08d;

%transparent-bg {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

%left-highlight {
  &:hover {
    border-left: 10px solid $highlight;
    border-radius: 5px;
    padding-left: 10px;
    transition: border, padding 400ms, 400ms;
  }
}

html {
  height: 100vh;

  body {
    height: 100%;

    .mobile-overflow-wrapper {
      height: 100%;
      color: white;
      overflow-x: hidden;
      background-image: url("img/gardenBg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      .section {
        padding: 0;

        .section-title {
          margin-bottom: 10px;
        }
      }

      .container {
        @extend %transparent-bg;
        padding-bottom: 20px;
        width: 50%;
        height: 100vh;
        overflow-y: auto;

        @media (max-width: 1000px) {
          width: 80%;
        }
      }

      .container-header {
        @extend %transparent-bg;
        @extend %left-highlight;
        display: flex;
        opacity: 0;


        .logo {
          width: 80px;
          height: 80px;
          padding: 10px;
          font-size: 20px;
        }

        .phone-number {
          flex: 1;
          justify-content: flex-end;
          padding: 10px;
          font-size: 20px;

          .icon {
            font-size: 50px;
            margin: 5px 0 0 5px;
          }
        }
      }

      .section {
        border-left: 10px solid transparent;
        @extend %left-highlight;
      }

      .company {
        .company-info {
          .company-blurb {
            padding: 0px 10px;
          }

          .services {
            padding: 0px 10px;

            ul li {
              list-style-type: circle;
              list-style-position: inside;
              text-indent: -2em;
              padding-left: 2em;
            }
          }
        }
      }

      .reviews {
        #review-block {
          display: flex;
          align-items: center;

          .leave-review.btn {
            margin-left: auto;

            @media (max-width: 450px) {
              width: 50px;
            }
          }
        }

        .review {
          cursor: pointer;
          padding: 20px 10px;

          .review-details {

            a {
              display: flex;

              .review-author-details {
                img {
                  height: 10em;
                  width: 10em;
                  flex: 1 1 10%;
                  border-radius: 20%;
                  padding: 10px;
                }

                .stars,
                .name {
                  text-align: center;
                }
              }
            }



            .review-blurb {
              display: flex;
              align-self: center;
            }
          }
        }
      }

      .carousel-item {
        width: 300px !important;
      }
    }

    .pic-credit {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}